/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #100e17;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 55, 0.986);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 55, 0.986);
}
body {
  background-color: white;
  color: white;
}
.bg-dark {
  background-color: #100e17 !important;
}
.navbar-dark .navbar-brand {
  font-size: 2.2rem;
  font-weight: 5rem;
  color: white;
}
a {
  color: white;
}
.nav-masthead .active {
  color: white;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 0, 55, 0.986);
}
.main-header {
  background-image: url(world.jpg);
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: justify;
  align-content: center;
  position: relative;
}
.main-header > * {
  position: relative;
}
.header-text-holder {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 3.5rem;
}
.lorem {
  color: white !important;
}
.btn-info {
  color: white;
  background-color: rgba(255, 0, 55, 0.986);
  border-color: rgba(255, 0, 55, 0.986);
}
.container {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.article-head {
  font-weight: 50px;
  font-size: 20px;
  font-family: sans-serif;
  color: #100e17;
}
time {
  color: #100e17;
}
.topic {
  color: #100e17;
}
p {
  font-family: sans-serif;
  font-weight: 100px;
  font-size: 30px;
  display: block;
  color: #100e17 !important;
}
.main-link a {
  color: black;
  font-family: sans-serif;
  font-weight: 80px;
  font-size: 20px;
}
.main-link a:hover {
  color: rgba(255, 0, 55, 0.986);
  font-weight: 90px;
  font-size: 30px;
}
.main-footer {
  background-color: #100e17;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}
aside.footer-widget {
  margin-bottom: 25px;
  justify-content: center;
  align-content: center;
}
aside.footer-widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
aside.footer-widget ul li a {
  text-decoration: none;
  display: inline-block;
  color: rgb(173, 168, 168);
  margin-bottom: 5px;
}
